.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #ce9e1a;
    border-color: #73a20d;
  }
  
  .button:focus {
    outline: none;
  }