* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* background-color:rgba(63, 127, 34, 0.264); */
  background-color: rgba(131, 224, 97, 0.353)
}

body {
  margin: 0;
}